<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>QUnit Test Suite</title>
	<link href="/testsuite.css" rel="stylesheet" type="text/css" />
    <script src="/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/testrunner.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= @test_case.target %>" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          <%= @test_case.content %>
      });
    </script>
</head>
<body>
	<h1 id="qunit-header">QUnit Test Suite - <%= "#{@test_case.name.upcase}" %></h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">
	     <%= @test_case.html_fixtures %>
	</div>
</body>
</html>

